---
import Bhajan from "./Bhajan.astro";
import PageNavigation from "./PageNavigation.astro";
import SearchBar from "./SearchBar.astro";

export interface Props {
    songList: { 
        data: {
            kannada_title:string,
            english_title:string
        }; 
        id: string 
    }[];
    prevsUrl?: string;
    nextUrl?: string;
}

const { songList, prevsUrl, nextUrl } = Astro.props;
---

<section
    class="w-full rounded-md bg-[#ffdc69] py-6 flex flex-col gap-6 items-center"
>
    <SearchBar />
    <ul
        class="w-11/12 mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4"
    >
        {
            songList.map((element) => (
                <Bhajan
                    kannada_title={element.data.kannada_title}
                    english_title={element.data.english_title}
                    id={element.id}
                />
            ))
        }
    </ul>

    {(prevsUrl || nextUrl) && <PageNavigation {prevsUrl} {nextUrl} />}
</section>
