---
import YouTubeVideo from "./YouTubeVideo.astro";

export interface Props {
    english_title: string;
    kannada_title: string;
    tags?: string[];
    kannada: string;
    english?: string;
    media?: string;
    meta?: string;
}
const { kannada_title, english_title, tags, kannada, english, media, meta } =
    Astro.props;

function getVideoId(url: string) {
    const videoUrl = new URL(url);
    const searchParams = new URLSearchParams(videoUrl.search);
    return searchParams.get("v");
}

const videoId = media ? getVideoId(media) : null;
---

<section>
    <h1 class="text-2xl font-bold kannada-font">
        {kannada_title}
    </h1>
    {english_title && <h1 class="text-2xl font-bold">{english_title}</h1>}
</section>

{
    tags && (
        <section class="w-full flex flex-row flex-wrap gap-4 text-opacity-60 text-sm text-slate-900">
            {tags.map((tag) => (
                <a href={`/tags/${tag}`} class="capitalize">
                    #{tag}
                </a>
            ))}
        </section>
    )
}

{meta && <section class="w-full text-slate-800 kannada-font">{meta}</section>}

<section>
    <h4 class="font-bold text-lg mb-4">Lyrics in kannada</h4>
    <pre class="kannada-font">{kannada.trim()}</pre>
</section>

{
    english && (
        <section>
            <h4 class="font-bold text-lg mb-4">Lyrics in english</h4>
            <pre>{english.trim()}</pre>
        </section>
    )
}

{
    videoId && (
        <>
            <hr class="w-full h-px border-0 rounded my-4 bg-black" />
            <YouTubeVideo {videoId} />
        </>
    )
}
