---
import { Image } from "astro:assets";
import playIcon from "../images/icon-play.png";

export interface Props {
  videoId: string;
}

const { videoId } = Astro.props;

async function getYouTubeVideoTitleTumbnail(url: string) {
  const apiUrl = `https://www.youtube.com/oembed?url=https://www.youtube.com/watch?v=${videoId}&format=json`;

  try {
    const response = await fetch(apiUrl);
    if (response.ok) {
      const data = await response.json();
      return [data.thumbnail_url, data.title];
    } else {
      console.error("Error:", response.status);
    }
  } catch (error) {
    console.error("Error:", "fetch failed");
  }
  return [undefined, undefined];
}

let videoTitle: string | undefined;
let videoTumbnailUrl: string | undefined;

[videoTumbnailUrl, videoTitle] = await getYouTubeVideoTitleTumbnail(videoId);

---

{
  videoTumbnailUrl && videoTitle && (
    <section
      class="aspect-[16/9] w-full max-w-md relative bg-black p-0"
      id="youtubeIframeContainer"
    >
      <Image
        class="rounded-sm w-full h-full"
        src={videoTumbnailUrl}
        alt=""
        width={448}
        height={Math.floor((448 * 9) / 16)}
        format="webp"
        fetchpriority="low"
      />
      <button
        aria-label="play"
        class="rounded-full p-4 absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2"
      >
        <Image
          src={playIcon}
          height={64}
          width={64}
          fetchpriority={"low"}
          alt=""
          format="webp"
        />
      </button>
      <span class="text-white absolute top-4 left-2 block overflow-hidden text-ellipsis w-11/12 whitespace-nowrap">
        {videoTitle}
      </span>
    </section>
  )
}

<script define:vars={{ videoId }}>
  const youtubeIframeContainer = document.getElementById(
    "youtubeIframeContainer",
  );
  youtubeIframeContainer?.addEventListener("click", () => {
    youtubeIframeContainer.innerHTML = `<iframe
      src='https://www.youtube.com/embed/${videoId}?autoplay=1'
      title="YouTube video player"
      allow="clipboard-write; encrypted-media;autoplay"
      class="w-full h-full"
      /> `;
  });
</script>
