---
import Layout from "../../layouts/Layout.astro";
import data from "../../lib/data.json";
import SongContainer from "../../components/SongContainer.astro";
import BackToHome from "../../components/BackToHome.astro";

export async function getStaticPaths() {
    return data.map((song) => ({ params: { bhajanId: song.id } }));
}

const { bhajanId } = Astro.params;
const songIndex = data.findIndex((song) => song.id == bhajanId);

const song = data[songIndex];
const previousSong = songIndex > 0 ? data[songIndex - 1] : null;
const nextSong = songIndex < data.length - 1 ? data[songIndex + 1] : null;
---

<Layout title={`${song.kannada_title} | ${song.english_title}`}>
    <main class="flex gap-6 flex-col mx-6 leading-8 tracking-wide">
        <SongContainer {...song} />

        <section
            class="w-full flex flex-row justify-between gap-4 text-base font-normal border-t border-b border-black py-8"
        >
            {
                previousSong ? (
                    <div class="hover:underline hover:translate-x-1 transition-transform">
                        <a href={`/bhajans/${previousSong.id}`}>
                            <p class="text-sm text-gray pb-2">Previous song</p>
                            <div class=" kannada-font">
                                {previousSong.kannada_title}
                            </div>
                            <div>{previousSong.english_title}</div>
                        </a>
                    </div>
                ) : (
                    <div />
                )
            }

            {
                nextSong && (
                    <div class="text-right hover:underline hover:-translate-x-1 transition-transform">
                        <a href={`/bhajans/${nextSong.id}`}>
                            <p class="text-sm text-gray pb-2">Next song</p>
                            <div class="kannada-font">
                                {nextSong.kannada_title}
                            </div>
                            <div>{nextSong.english_title}</div>
                        </a>
                    </div>
                )
            }
        </section>
        <BackToHome />
    </main>
</Layout>
